body
{
}
 label {
            position:absolute;
            right:0 ;
            top:0;
            background-color:beige;
            text-align:center;
            border:1px solid blue;
            width:30%;
            height:25%;
            display:block;
            box-sizing:border-box;
            
        }
        section {
            float:left;
            margin:0.16%;
            padding:8px;
            padding-top:30px;
            border:1px solid;
            border-color:forestgreen;
            width:33%;
            box-sizing:border-box;
            position:relative;
          
       
        }
        #section1{
            background-color:aquamarine;
        }
        #section2{
            background-color:blueviolet;
        }
        #section3{
            background-color:cadetblue;
            padding-top:55px;
        }
        h1{
            width:80%;
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }

        @media (min-width: 992px)
        {
            section {
            float:left;
            margin:0.16%;
            padding:8px;
            padding-top:30px;
            border:1px solid;
            border-color:forestgreen;
            width:33%;
            box-sizing:border-box;
            position:relative;
          
       
           }
            label{
                background-color:aqua;
            }
        }

        @media (min-width: 787px) and (max-width: 991px) {
            #section1, #section2{
                float:left;
                margin:0.16%;
                padding:8px;
                padding-top:30px;
                border:1px solid;
                border-color:forestgreen;
                width:49.5%;
                box-sizing:border-box;
                position:relative;
            }
            #section3{
                clear:left;
                width:99.5%;
                margin-top:2px;
            }

        }

        @media (max-width:786px){
           #section1{
                clear:right;
                width:99.5%;
                margin-bottom:2px;
            }

           #section2 {
                clear:both;
                width:99.5%;
                margin-top:2px;
                margin-bottom:2px;
            }

           #section3{
                clear:left;
                width:99.5%;
                margin-top:2px;
           }

        }